.section-cube{
    background-color: #083b4b;
}


.title{
    text-align: center;
    padding: 40px 0px;
    color: white;
}

.result-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding: 0;
}

.result-list li{
    display: flex;
    width: 136px;
    height: 136px;
    background-color: #1289b2;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


